[submodule "GenSMBIOS"]
	path = GenSMBIOS
	url = git@github.com:corpnewt/GenSMBIOS.git
[submodule "ProperTree"]
	path = ProperTree
	url = git@github.com:corpnewt/ProperTree.git
[submodule "gibMacOS"]
	path = gibMacOS
	url = git@github.com:corpnewt/gibMacOS.git
[submodule "MountEFI"]
	path = MountEFI
	url = git@github.com:corpnewt/MountEFI.git
[submodule "AMD_Vanilla"]
	path = AMD_Vanilla
	url = git@github.com:AMD-OSX/AMD_Vanilla.git
[submodule "OCConfigCompare"]
	path = OCConfigCompare
	url = git@github.com:corpnewt/OCConfigCompare.git
